body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.background {
  background-image: url("../img/background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  overflow: auto;
}
.container-md {
  background-image: url("../img/white.png");
  background-repeat: repeat;
  overflow: auto;
  padding-bottom: 10%;
  /* margin-bottom: 10%; */
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div#header {
  width: 100%;
  margin: auto;
  min-width: 650px;
  margin-top: 10%;
  margin-bottom: 10%;
}
#header h1 {
  overflow: auto;

}
form {
  width: 70%;
  max-width: 500px;
  min-width: 450px;
  margin: auto;
}
#output {
  margin: auto;
  width: 60%;
  margin-top: 6%;
  font-size: xx-large;
  font-weight: bolder;
}
button#beepBoop {
  clear: both;
  display: block;
  margin: auto;  
}
#imageContainer {
  margin-top: 5%;
}
#imageContainer ul {
  padding: 0;
  margin: 0;
  margin-left: 3%;
}

#imageContainer li {
  width: 20%;
  list-style:  none;
  margin: 2%;
  margin-bottom: 5%;
  padding: 0;
}
#imageContainer img {
  width: 100%;
}
#imageContainer img:hover {
  opacity: 0.6;
}


