.container {
  overflow: auto;
}
div#header {
  width: 100%;
  margin: auto;
  min-width: 650px;
  margin-top: 10%;
  margin-bottom: 10%;
}
#header h1 {
  overflow: auto;

}
form {
  width: 70%;
  max-width: 500px;
  min-width: 450px;
  margin: auto;
}
#output {
  margin: auto;
  width: 60%;
  margin-top: 10%;
  font-size: xx-large;
  font-weight: bolder;
}
button#beepBoop {
  clear: both;
  display: block;
  margin: auto;  
}
#imageContainer li {
  width: 20%;
  display: block;
  float: left;
  margin: 4%;
  margin-bottom: 5%;
}
#imageContainer img {
  width: 100%;
}